<div class="jumbotron mt-4">
  <h1 class="display-4">Mi Inversión</h1>
  <p class="lead">Planes de inversión a corto, mediano y largo plazo</p>
  <hr class="my-4">
  <p>Como empresa de inversiones, contamos con diferentes tipos de productos para ofrecer a nuestros clientes, cada uno enfocado a resolver sus necesidades financieras de manera personalizada.</p>
  <a href="/packages" class="btn btn-primary btn-lg">Iniciar</a>
</div>